<% if @article.errors.any? %>
    <h2>Following errors while saving article!! </h2>
    <ul>
        <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <%end%>
    </ul>
<%end%>